/*---Desktop Styles---*/
/*---Universal Styles---*/

html {
    font-family: Helvetica, sans-serif;
    font-size: 150%;
    color: black;
}

.center {
    text-align: center;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

button {
    text-align: center;
    font-size: 1rem;
    line-height: 1rem;
    color: seashell;
    background-color: green;
    border: none;
    padding: .5rem;
    margin-top: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 5px 10px 15px;
}

button:hover {
    background-color: darkslategray;
}

button:active {
    box-shadow: none;
    transform: translateY(5px);
}

/*---Header---*/

header {
    display: fixed;
    z-index: 10;
    width: 100%;
    border-bottom: 1px solid darkgreen;

}

header .bar {
    display: flex;
    align-items: center;
    height: 6rem;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0rem 1.5rem;
}

/*Logo*/

header .title {
    display: flex;
    align-items: center;
}

header img {
    max-height: 5.5rem;
    border: none;
    transition-property: max-height;
    transition-duration: 100ms;
    transition-timing-function: linear;
  }

header .site-name {
    font-family: 'Noto Serif Hebrew', serif;
    font-size: 2rem;
    font-weight: normal;
    padding-left: 1rem;
}

header .jesus {
    color: darkgreen;
    font-weight: bold;
}

/*Nav*/

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

header nav li {
    padding: .5rem;
    width: 4rem;
    border-left: 1px solid darkgreen;
}

nav a {
    font-size: 1rem;
    color: green;
    text-decoration: none;
}

/*Header Actions*/

header img:hover {
    max-height: 6rem;
  }

header nav li:hover {
    background-color: lightgray;
}

/*---Banner---*/

.banner {
    background-color: rgb(222, 243, 222);
    padding: 1rem 1rem;
}

.banner .center p {
    margin: .5rem 0 0 0;
    font-size: 1.5rem;
}

.banner h1 {
    color: darkgreen;
    margin: 0 0;
    padding-top: 1.5rem;
}

.banner .purchase {
    display: flex;
    justify-content: center;
}

.banner button {
    width: 12rem;
    margin: 2rem 1rem;
}

.banner .content {
    display: flex;
    background-color: gray;
}

.banner .imgcontainer {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 1rem 1rem;  
}

.banner img {
    height: 25rem;
    display: block;
    padding: 1rem;
    background-color: rgb(195, 230, 195);
}

.banner #left {
    justify-content: flex-end;
}

.banner .graphic {
    height: 15rem;
    background-color: transparent;
    padding-left: 2rem;
}

.banner .graphic p {
    font-size: .5rem;
    text-align: center;
}

@media only screen and (max-width: 1963px) {
     .banner .graphic {
        display: none;
    }

    .banner #right p {
        display: none;
    }
}

/*---Celtic-Britain---*/

.celtic-britain .content {
    display: flex;
}

.celtic-britain .imgcontainer {
    width: 60%;
    max-width: 100rem;
    padding: 1rem 1rem;
}

.celtic-britain img {
    width: 100%;
}

.celtic-britain .snippet {
    width: 40%;
    padding-left: 1rem;
}

.celtic-britain button {
    width: 100%;
}

/*Celtic-Britain Actions*/



/*---Tablet Styles---*/

@media only screen and (max-width: 1440px) {
    .banner img {
        height: 15rem;
    }
}

/*---Mobile Styles---*/

@media only screen and (max-width: 470px) {
    html {
        font-size: 75%;
    }
}